*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    place-content: center;

    grid-template-columns:100px 100px 100px 100px;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menuu{
    display: grid;
    grid-template-columns:100px 100px 100px 100px;
    gap: 10px;  
    margin-top: 60px;
    margin-left:-600px;
}
.container .menu{
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(5, 0, 64);
    color: white;
    text-align: center;
    border-radius: 5px;
}

.container{
    display: grid;
    grid-template-columns:600px 600px;
    gap: 10px;
    padding-top:20px;
    padding-left: 20px;
    background-color: rgb(179, 187, 245);
    width: 620px;
    height: 1500px;
}

.container .comics1{
    margin-top: -20px;
    margin-left: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px 5px;

}
.container .comics1 .row1{
    display: grid;
    grid-template-rows: repeat(4, 200px);
    column-gap: 5px;
    row-gap: 5px;
}



.container .comics1 .row1 .comics2{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 300px;
    height: 200px;
}
.container .comics1 .row1 .comics2 img{
    width: 150px;
    height: 196,25px;
}

.container .comics1 .row1 .comics3 img{
    width: 150px;
    height: 196,25px;
}
.container .comics1 .row1 .comics3{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container .comics1 .row1 .comics4 img{
    width: 150px;
    height: 196,25px;
}

.container .comics1 .row1 .comics4{
    display: grid;
    grid-template-columns: 50% 50%;
}
.container .comics1 .row1 .comics5 img{
    width: 150px;
    height: 196,25px;
}
.container .comics1 .row1 .comics5{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container .comics1 .row1 .comics6 img{
    width: 150px;
    height: 196,25px;
}
.container .comics1 .row1 .comics6{
    display: grid;
    grid-template-columns: 50% 50%;
}



.container .comics1 .row2{
    display: grid;
    grid-template-rows: repeat(4, 200px);
    column-gap: 5px;
    width: 300px;
    row-gap: 5px;
}
.container .comics1 .row2 .comics6{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container .comics1 .row2 .comics6 img{
    width: 140px;
    height: 200px;
}
.container .comics1 .row2 .comics7 img{
    width: 140px;
    height: 200px;
}
.container .comics1 .row2 .comics7{
    display: grid;
    grid-template-columns: 50% 50%;
}
.container .comics1 .row2 .comics9{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container .comics1 .row2 .comics9 img{
    width: 140px;
    height: 200px;
}
.container .comics1 .row2 .comics8 img{
    width: 140px;
    height: 200px;
}
.container .comics1 .row2 .comics8{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container .comics1 .row2 .comics10 img{
    width: 140px;
    height: 200px;
}
.container .comics1 .row2 .comics10{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container .comics1 .row2 .comics11 img{
    width: 140px;
    height: 200px;
}
.container .comics1 .row2 .comics11{
    display: grid;
    grid-template-columns: 50% 50%;
}